<% if @shares.any? %>
	<% @shares.each do |share| %>
		<h3><%= share.title %></h3>
		<p>
			Beard snapped in <%= link_to share.address, share_map_path(share) %>
		</p>
		<% if share.picture.present? %>
			<%= image_tag share.picture.url(:medium), class: 'uploaded-pic' %>
		<% end %>

		<p>

		<% share.clips.each do |clip| %>
			<%= link_to clip.text, clip %>
		<% end %>
	
		</p>
	<% end %>
<% else %>
 No shares
<% end %>


